body{margin:0;padding:0;background-color: hsl(185, 70%, 90%);font-size:12px;overflow:auto}
#mainDiv{width:100%;height:100%}
#container{height: 65%;}
#loveHeart{float:left;width:670px;height:625px;margin-left: 160px;}
#garden{width:100%;height:100%}
#elapseClock{text-align:center;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#666}
#messages{display:none;text-align: center;font-size: 30px}
#elapseClock .digit{font-family:"digit";font-size:40px;text-align: center;}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{height:500px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:25px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px;width: 85%;}
#code .comments{color:#3f7f5f}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}
#icon{font-size: 48px;color: red;margin: 50 px; align-content: center;}
#heartspan{align-content: center;text-align: center;margin: 20px;z-index: 999999;}
.hidden{position: absolute;left: -50000px;}
#mainDiv > svg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.particle {
    fill: pink;
    stroke: none;
/*     transform: rotate3d(1, 1, 1, 45deg); */
}